<link rel="stylesheet" href="/static/css/base.css">
<div class="nav">
    <a href="index.html">BOKE</a>
    <form class="ssbox" action="index.html" method="get">
        <input type="text" name="search" value="">
        <input type="submit" value="搜索">
    </form>
    <span class="dlbox">
        <a href="login.html">登陆</a>&nbsp
        <a href="register.html">注册</a>
        <a href="user.html" id="user-home">个人中心</a>&nbsp
        <a href="write.html">写文章</a>&nbsp
        <a href="index.html" id="login-back">退出</a>
    </span>
</div>
