<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>boke</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/base.js"></script>
    <!-- <script src="/static/js/index.js"></script> -->
</head>
<body>
    <header id="common"></header>
    <section>
        <div class='boxs' id='boxs'>
            <!-- <div class='abox'>
                <h3><a href=''>标题</a></h3>
                <p>
                    简介内容暂无。
                    等待补充。
                </p>
                <div>
                    <span>作者:</span>
                    <span>XXXX</span>&nbsp&nbsp&nbsp&nbsp
                    <span>时间:</span>
                    <span>2019/07/12</span>
                </div>
            </div> -->
        </div>
    </section>
</body>
<script type="text/javascript">
    $(document).ready(function() {
        search({});
    });
</script>
</html>
