<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>boke</title>
    <link rel="stylesheet" href="/static/css/user.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/user.js"></script>
</head>

<body>
    <header id="common"></header>
    <section>
        <div class="user-box">
            <img src="uimages/ddm.jpg" alt="头像" class="uimage" id="uimage">
            <div class="ubox">
                <span><strong>用户:</strong>&nbsp&nbsp</span><span id="uname">小明</span><br>
                <span><strong>简介:</strong>&nbsp&nbsp</span><span id="utell">小明是个小小程序员，喜欢打游戏。</span><br>
            </div>
        </div>
        <div class='boxs'>
            <div class='abox'>
                <h3><a href="">标题</a></h3>
                <p>
                    今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗今天天气晴朗
                </p>
                <div>
                    <span>作者:</span>
                    <span>XXXX</span>&nbsp&nbsp&nbsp&nbsp
                    <span>时间:</span>
                    <span>2019/07/12</span>
                </div>
            </div>
        </div>

    </section>
</body>

</html>
